<h2>Yeni Öğrenci</h2>
<form action="/Ogrenci/Ekle" method="post">
    <label>Ad:</label>
    <input type="text" name="Ad" class="form-control" />

    <label>Soyad:</label>
    <input type="text" name="Soyad" class="form-control" />

    <label>Bölüm:</label>
    <input type="text" name="Bolum" class="form-control" />
    <br />
    <button class="btn btn-success">Kaydet</button>
</form>